# ── Pusher Credentials (for WebSocket Signaling) ──
PUSHER_APP_ID=2172319
PUSHER_KEY=655bb69f4de9f3474992
PUSHER_SECRET=1099d5649c5f6fb23b2b
PUSHER_CLUSTER=eu
NEXT_PUBLIC_PUSHER_KEY=655bb69f4de9f3474992
NEXT_PUBLIC_PUSHER_CLUSTER=eu

# ── API Link ──
NEXT_PUBLIC_API_URL=https://oprameet.onrender.com/api
PORT=3000

# ── Google Sheets API (for encrypted Serverless DB) ──
GOOGLE_SHEETS_SPREADSHEET_ID=15z2n6YZRJEShoLaohHN7RdLifBnKxbmrEwZiifLIbyw/edit?usp=drivesdk
GOOGLE_CLIENT_EMAIL=dark-637@dark-501215.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="1b19c67adbaf7959304c2a11abce278950d04354"

# ── Payload Encryption Key (AES-256-GCM) ──
DATABASE_ENCRYPTION_SECRET=DarkMatrixOpraMeetSecretKey2026!!
